@using My_Blog.Models
@model Users

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<div class="text-center">
    <h1 class="display-4">Oops. An Error Occured.</h1>
    <a href="/Home/Profile" class="btn btn-dark">Return To Home</a>
</div>
